$white:white;

$backg: rgb(240,242,245);
$backg2:white;
$backg3:#dddfe2;
$backg4:#dadde1;
$backg5:rgb(66,183,42);
$backg6:#3B5998;
$backg7:rgb(218,221,225);
$backg8:rgb(228,230,235);

$font-color:rgb(28, 30, 33);
$font-color2:rgb(144,148,182);
$font-color3: rgb(24, 119, 242);
$font-color4:rgb(196,210,231);
$font-color5:rgb(29, 33, 41);
$font-color6:rgb(144, 148, 156);
$font-color7:rgb(87, 107, 149);
$font-color8:rgb(97, 103, 112);
$font-color9:rgb(137,142,149);
$font-color10:rgb(5,5,5);
$font-color11:rgb(101, 103, 107);
$font-color12:  rgb(150,0,105);
$font-color13:  rgb(101, 103, 107);
// $font-color14: rgb(56, 88, 152) ;

// rgb(228,230,233)
$btn-color:rgb(22,111,229);








