$name1:SFProDisplay-Regular, Helvetica, Arial, sans-serif;
$name2:Helvetica, Arial, sans-serif;
$name3:SFProText-Semibold, Helvetica, Arial, sans-serif;
$name4:SFProText-Regular, Helvetica, Arial, sans-serif;
$name5: Helvetica, Arial, sans-serif;
$name6: Roboto, "Droid Sans", Helvetica, sans-serif;
$name7: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;



