$none:0px;
$size1:28px;
$size2:17px;
$size3:20px;
$size4:14px;
$size5:13px;
$size6:24px;
$size7:15px;


$weight1:400;
$weight2:700;
$weight3:500;
$weight4:600;
$weight5:300;

$lineheight1:32px;
$lineheight2:16px;
$lineheight3:48px;
$lineheight4:18.76px;
$lineheight5:18px;
$lineheight6:17px;
$lineheight7:28.8px;
$lineheight8:19.9995px;

$weight:992px;





 